<div class="row">
	<% if !current_user %>
		<%= render 'partials/splash' %>
	<% end %>
	<div class="col-md-9">
		<div id="graph"></div>
	</div>
	<% if current_user %>
		<div id="searches" class="col-md-3 history" >
			<% auth_token_check %>
			<%= render "partials/sidebar" %>
		</div>
	<% end %>
</div>

<script type="text/javascript">
  $(function() {
    relatedArtistSearch.init();
  });
</script>

